.main {
  padding-top: 25px;
}

.search {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.search input {
  border: 2px solid #6e5c40;
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  border-radius: 15px;
  padding: 3px;
  margin-right: 10px;
  text-align: center;
}

.search button {
  border: 2px solid #6e5c40;
  background-color: white;
  height: 24px;
  width: 24px;
  font-size: 15px;
  padding: 3px 2px 2px 2px;
  border-radius: 100%;
  cursor: pointer;
}

.completed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
}

.cards {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 7px;
  height: inherit;
  width: 742px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.55em;
  text-align: center;
  align-items: center;
  cursor: pointer;
  overflow-x: hidden;
  padding: 3px;
  scrollbar-width: none;
  border-radius: 15px;
  transition: transform 0.1s;
  perspective: 1000px;
  background: rgba(157, 153, 138, 0.89);
}

.card p {
  max-width: 100%;
  word-wrap: break-word;
}

.card img {
  color: red;
  max-width: 95%;
}

.arrows {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
}

.arrows p {
  font-size: 10px;
  margin: 0px 5px 0px 5px;
  display: flex;
}

.arrows span {
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
